python-telegram-bot==22.1
google-api-python-client==2.126.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
streamlink @ git+https://github.com/ImAleeexx/streamlink-drm.git
ffmpeg-python==0.2.0
pyrogram==2.0.106
tgcrypto==1.2.5
